<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/tickets">Tickets</a></li>
      <li><a href="/auth/login">Login</a></li>
    </ul>
  </nav>
</aside>
